import { Env, SiteConfig } from './types';

export const siteConfig: SiteConfig = {
  name: 'Cloudflare R2',
  desp: {
    /// [Optional] description of some folder or file you want, eg.
    // 'example': 'This is example folder description',
    // 'example.txt': 'This is example file description',
  },
  showPoweredBy: false, // Set to false to hide the "Powered by" information at footer

  /// [Optional] Legal information of your website
  /// Your local government (for example Mainland China) may requires you to put some legal info at footer
  /// and you can put it here.
  /// It will be treated as raw HTML.
  // legalInfo: "Legal information of your website",

  /// [Optional] favicon, should be a URL to **PNG IMAGE**. Default to Cloudflare R2's logo
  // favicon: ''
};
